<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts :: header"></head>
<body>
<nav th:replace="layouts :: navbar"></nav>
<div class="container">
    <form action="/employees/save" th:object="${employee}"  method="POST" >

        <div class="form-group">
            <input type="text" placeholder="First Name" th:field="${employee.firstName}" class="form-control">

        </div>
        <div class="form-group">
            <input type="text" placeholder="Last Name" th:field="${employee.lastName}" class="form-control">

        </div>
        <div class="form-group">
            <input type="email" placeholder="Email" th:field="${employee.email}"  class="form-control">

        </div>



        <button type="submit" class="btn btn-primary">Create Employee</button>

    </form>
</div>

</body>
</html>